<!DOCTYPE html>
<html lang="en">
  <%-include("../partials/head")%>
  <body>
    <%-include("../partials/header")%>

    <main>
      <div class="product-form">
        <form
          method="POST"
          action="/productos/<%= producto.id %>?_method=PUT"
          enctype="multipart/form-data"
          class="form-update-product"
        >

        <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
          <div class="feedback" role="alert">
            <ul>
              <% errors.forEach(error => { %>
                <li><%= error.msg %></li>
              <% }) %>
            </ul>
          </div>
        <% } %>
        
          <div class="product-form-items">
            <label for="nombre">Nombre del producto</label>
            <input
              type="text"
              name="nombre"
              id="nombre"
              value="<%= producto.nombre %>"
            />
            <p
            class="feedback nombre"
            style="display: none; margin: 0px; padding: 0px; font-size: 12px"
          >
            Ingrese un nombre con más de 5 caracteres.
          </p>
          </div>

          <div class="product-form-items">
            <label for="descripcion">Descripción</label>
            <textarea
              name="descripcion"
              id="descripcion"
              cols="40"
              rows="10"
            ><%=producto.descripcion%></textarea>
            <p
            class="feedback descripcion"
            style="display: none; margin: 0px; padding: 0px; font-size: 12px"
          >
            Ingrese una descripcion.
          </p>
          </div>

          <div class="product-form-items">
            <label for="imagenes">Imágenes</label>
            <input type="file" name="imagen" id="imagenes" />
            <p
            class="feedback img"
            style="display: none; margin: 0px; padding: 0px; font-size: 12px"
          >
            Ingrese una imagen con extenciones .JPG, . JPEG, .PNG o .GIF.
          </p>
          </div>

          <div class="product-form-items">
            <label for="categoria">Categoría</label>
            <select name="categoria" id="categoria">
                <option value="">Seleccione una categoría</option>
                <option value="1" <% if (producto.id_categoria === 1) { %>selected<% } %>>Traje</option>
                <option value="2" <% if (producto.id_categoria === 2) { %>selected<% } %>>Camisa</option>
                <option value="3" <% if (producto.id_categoria === 3) { %>selected<% } %>>Pantalon</option>
                <option value="4" <% if (producto.id_categoria === 4) { %>selected<% } %>>Chaleco</option>
                <option value="5" <% if (producto.id_categoria === 5) { %>selected<% } %>>Zapato</option>
                <option value="6" <% if (producto.id_categoria === 6) { %>selected<% } %>>Accesorio</option>
            </select>
        </div>

          <div class="product-form-items">
            <label for="color">Color</label>
            <input
              type="text"
              name="color"
              id="color"
              value="<%= producto.color %>"
            />
          </div>

          <div class="product-form-items">
            <label for="precio">Precio</label>
            <input
              type="text"
              name="precio"
              id="precio"
              value="<%= producto.precio %>"
            />
            <p
            class="feedback precio"
            style="display: none; margin: 0px; padding: 0px; font-size: 12px"
          >
            Ingrese un precio.
          </p>
          </div>

          <div class="product-form-items">
            <label for="descuento">Descuento (%)</label>
            <input
              type="text"
              name="descuento"
              id="descuento"
              value="<%=producto.descuento%>"
            />
            <p
            class="feedback descuento"
            style="display: none; margin: 0px; padding: 0px; font-size: 12px"
          >
            Ingrese un descuento.
          </p>
          </div>

          <div class="product-form-items">
            <label for="cuotas">Cuotas</label>
            <select name="cuotas" id="cuotas">
              <option value="<%= producto.cuotas %>">
                <%= producto.cuotas %>
              </option>
              <option value="3">3</option>
              <option value="6">6</option>
              <option value="9">9</option>
              <option value="12">12</option>
            </select>
          </div>

          <div class="product-form-items">
            <input type="submit" value="Enviar" />
          </div>
        </form>
      </div>
    </main>

    <%-include("../partials/footer")%>
    <script src="/js/validationUpdateProduct.js" defer></script>
  </body>
</html>
