<!DOCTYPE html>
<html lang="en">
  <!DOCTYPE html>
  <html lang="en">
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/css/producto.css" />
    <body>
      <%- include("../partials/header") %>
      <div class="product-container">
        <section class="images">
          <!--IMAGEN PRINCIPAL SIN BASE DE DATOS
          <div class="main-image">
            <img id="main-image" src="<%=producto.images%>" />
          </div> -->

          <!-- IMAGEN PRINCIPAL CON BASE DE DATOS -->
          <div class="main-image">
            <img
              id="main-image"
              src="<%= producto.images %>"
              alt="imagen-producto"
            />
          </div>
        </section>

        <section class="description">
          <h1 class="title"><%=producto.nombre%></h1>

          <% if (producto.descuento) { %>
            <p class="total-price">$<%= producto.precio %></p>
            <p class="price">$<%= producto.precioConDescuento %></p>
            <p class="discount"><%= producto.descuento %>% off</p>
          <% } else{ %>
            <p class="price">$<%= producto.precio %></p>
          <%} %>
          

          <%if (producto.cuotas){%>
          <p class="dues">
            <%=producto.cuotas%> cuotas sin interés de
            $<%=producto.precioCuotas%>
          </p> <%}%>
          <p><%=producto.descripcion%></p>
          <p class="color">
            Color:
            <i class="fa-solid fa-droplet" style="color: #373737"></i>
            <%=producto.color%>
          </p>
          <p class="size">Talle:</p>
          <input type="radio" class="size" name="size" value="38" />
          <label for="38">38</label>
          <input type="radio" class="size" name="size" value="40" />
          <label for="40">40</label>
          <input type="radio" class="size" name="size" value="42" />
          <label for="42">42</label>
          <input type="radio" class="size" name="size" value="44" />
          <label for="44">44</label>
          <input type="radio" class="size" name="size" value="46" />
          <label for="46">46</label>
          <input type="radio" class="size" name="size" value="48" />
          <label for="48">48</label>
          <input type="radio" class="size" name="size" value="50" />
          <label for="50">50</label>

          <br />
          <div class="buttons">
            <button type="button" class="add">Agregar al carrito</button>
            <button type="button" class="shop">Comprar</button>
          </div>

          <div class="shipping">
            <label for="shipping">Calcular envío:</label>
            <input type="text" id="shipping" name="CP" placeholder="C.P." />
          </div>
        </section>
      </div>

      <%- include("../partials/footer") %>
    </body>
  </html>
</html>
