<!DOCTYPE html>
<html lang="en">
  
  <%- include("../partials/head") %>

  <body>

    <%- include("../partials/header") %>

    <main class="main-home">
      <section class="seccion-articulo">
        <h2>TODOS LOS PRODUCTOS</h2>

        

        <%for(let i=0; i<productos.length; i++){%>
            <form class="item-articulo" action="/productos/<%=productos[i].id%>?_method=DELETE" method="POST">
                    <div class="item-img">
                      <img src="<%=productos[i].images%>" alt="imagen-producto" />
                    </div>
                    <div class="item-descripcion">
                      <p class="nombre-articulo"><%=productos[i].nombre%></p>
                      <p class="descripcion-articulo"><%=productos[i].color%></p>
                      <p class="cuotas-articulo"><%=productos[i].cuotas%> cuotas sin interes</p>
                      <div class="precio-descuento-articulo">
                        <%if(productos[i].precioConDescuento===null){%>
                          <p class="precio-articulo-1">$<%=productos[i].precio%></p>
                      <%}else{%>
                        <p class="precio-sin-descuento">$<%=productos[i].precio%></p>
                        <p class="precio-articulo">$<%=productos[i].precioConDescuento%></p>
                        <p class="descuento-articulo"><%=productos[i].descuento%>% off</p>
                      <%}%>
                      </div>
          
                      <div class="div-button-descripcion">
                        <button type="submit">Eliminar producto</button>
                      </div>
                    </div>
            </form>
          
          <%}%>  

      </section>

     
    </main>

    <%- include("../partials/footer") %>

  </body>
</html>
