<!DOCTYPE html>
<html lang="en">
  <%-include("../partials/head")%>
  <body>
    <%-include("../partials/header")%>

    <main>
      <div class="product-form">
        <form
          method="POST"
          action="/productos/created"
          enctype="multipart/form-data"
          class="form-create-product"
        >
          <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
          <div class="feedback" role="alert">
            <ul>
              <% errors.forEach(error => { %>
              <li><%= error.msg %></li>
              <% }) %>
            </ul>
          </div>
          <% } %>

          <div class="product-form-items">
            <label for="nombre">Nombre del producto</label>
            <input
              type="text"
              name="nombre"
              id="nombre"
              value="<%= (locals.old && locals.old.nombre) ? locals.old.nombre : '' %>"
            />
            <p
              class="feedback nombre"
              style="display: none; margin: 0px; padding: 0px; font-size: 12px"
            >
              Ingrese un nombre con más de 5 caracteres.
            </p>
          </div>

          <div class="product-form-items">
            <label for="descripcion">Descripción</label>
            <textarea
              name="descripcion"
              id="descripcion"
              cols="40"
              rows="10"
              value="<%= (locals.old && locals.old.descripcion) ? locals.old.descripcion : '' %>"
            ></textarea>
            <p
              class="feedback descripcion"
              style="display: none; margin: 0px; padding: 0px; font-size: 12px"
            >
              Ingrese una descripcion.
            </p>
          </div>

          <div class="product-form-items">
            <label for="imagen">Imágenes</label>
            <input type="file" name="imagen" id="imagen" />
            <p
              class="feedback img"
              style="display: none; margin: 0px; padding: 0px; font-size: 12px"
            >
              Ingrese una imagen con extenciones .JPG, . JPEG, .PNG o .GIF.
            </p>
          </div>

          <div class="product-form-items">
            <label for="categoria">Categoría</label>
            <select name="categoria" id="categoria">
              <option value="" selected>Seleccione una categoría</option>
              <option value="1">Traje</option>
              <option value="2">Camisa</option>
              <option value="3">Pantalon</option>
              <option value="4">Chaleco</option>
              <option value="5">Zapato</option>
              <option value="6">Accesorio</option>
            </select>
          </div>

          <div class="product-form-items">
            <label for="color">Color</label>
            <input
              type="text"
              name="color"
              id="color"
              value="<%= (locals.old && locals.old.color) ? locals.old.color : '' %>"
            />
          </div>

          <div class="product-form-items">
            <label for="precio">Precio</label>
            <input
              type="text"
              name="precio"
              id="precio"
              value="<%= (locals.old && locals.old.precio) ? locals.old.precio : '' %>"
            />
            <p
              class="feedback precio"
              style="display: none; margin: 0px; padding: 0px; font-size: 12px"
            >
              Ingrese un precio.
            </p>
          </div>

          <div class="product-form-items">
            <label for="descuento">Descuento (%)</label>
            <input
              type="text"
              name="descuento"
              id="descuento"
              value="<%= (locals.old && locals.old.descuento) ? locals.old.descuento : '' %>"
            />
            <p
              class="feedback descuento"
              style="display: none; margin: 0px; padding: 0px; font-size: 12px"
            >
              Ingrese un descuento.
            </p>
          </div>

          <div class="product-form-items">
            <label for="cuotas">Cuotas</label>
            <select name="cuotas" id="cuotas">
              <option value=""></option>
              <option value="3">3</option>
              <option value="6">6</option>
              <option value="9">9</option>
              <option value="12">12</option>
            </select>
          </div>

          <div class="product-form-items">
            <input type="submit" value="Crear" />
          </div>
        </form>
      </div>
    </main>

    <%-include("../partials/footer")%>
    <script src="/js/validationCreateProduct.js" defer></script>
  </body>
</html>
